{% extends "base.html" %}

{% block content %}
    <h1 class="mb-2 text-3xl text-center">Register</h1>
    <form class="w-2/6 px-10 py-10 ml-auto mr-auto bg-gray-200 rounded-lg" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class="text-sm leading-7 text-gray-600") }}<br>
            {{ form.username(class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200") }}<br>
            {% for error in form.username.errors %}
            <span class="text-red-600 text-muted">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label(class="text-sm leading-7 text-gray-600") }}<br>
            {{ form.email(class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200") }}<br>
            {% for error in form.email.errors %}
            <span class="text-red-600 text-muted">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class="text-sm leading-7 text-gray-600") }}<br>
            {{ form.password(class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200") }}<br>
            {% for error in form.password.errors %}
            <span class="text-red-600 text-muted">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class="text-sm leading-7 text-gray-600") }}<br>
            {{ form.password2(class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200") }}<br>
            {% for error in form.password2.errors %}
            <span class="text-red-600 text-muted">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="w-full px-4 py-2 mt-2 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600") }}</p>
    </form>
{% endblock %}
